TG_BOT_TOKEN=your_telegram_bot_token_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
DB_URL=postgresql+asyncpg://persona_user:!default_Bot_password@db:5432/persona_bot_db
CONFIG_PATH=config.json
LLM_MODEL=model-name
POSTGRES_SUPER_USER=postgres
POSTGRES_PASSWORD=super_password